.container {
  margin: 50px;
}

.text {
  background-color: lightgrey;
  color: red;
  width: fit-content;
}

.table {
  border-collapse: collapse;
}

.topElem {
  padding: 30px;
}

.element {
  padding: 10px;
  border-bottom: 2px solid lightgrey;
  text-align: center;
}

.userEdit {
  display: flex;
  flex-direction: column;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}

td, 
th {
  padding: 10px;
  text-align: center;
  width: 300px;
}

.tableMain {
  text-align: left;
}

